.App {
  box-sizing: border-box;
  text-align: center;
  max-width: 1160px;
  margin: 0 auto;
}

.App-header {
  position: relative;
  color: white;
  margin: 5px;
  height: 100px;
}

@media screen and (min-width: 620px) {
  .App-header {
    padding: 5px;
  }
}

/* EXTERNAL LINKS */

.externalLinks {
  display: flex;
  justify-content: space-around;
  height: 30px;
}

@media screen and (min-width: 620px) {
  .externalLinks {
    position: absolute;
    right: 0;
    top: 5px;
  }

  .externalLinks > a {
    margin: 0 10px;
  }
}

.externalLinks > a > img {
  width: 25px;
  transition: opacity .5s linear;
}

.externalLinks > a > img:hover {
  opacity: .3;
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
}

.navigation a span {
  display: none;
  transition: color .5s linear;
}

.navigation a:hover span {
  color: #ff5500;
}

.navigation img {
  width: 35px;
  transition: opacity .5s linear;
  /* vertical-align: middle; */
}

.navigation a:hover img {
  opacity: .3;
}

@media screen and (min-width: 620px) {
  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 80%;
  }

  .navigation img {
    width: 18px;
  }

  .navigation a span {
    display: inline;
    margin-right: 10px;
    line-height: 35px;
  }
}