.ProjectList {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectItem {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  min-height: 300px;
  border-radius: 15px;
  border: 1px solid #ff5500;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width:620px) {
  .projectItem {
    width: 48%;
  }
}

@media screen and (min-width: 1160px) {
  .projectItem {
    width: 30%;
    padding: 10px;
  }
}

.projectItem {
  transition: background 1s linear;
}

.projectItem:hover {
  background: #707070;
}

.projectTitle {
  position: absolute;
  font-size: 30px;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s linear;
}

.projectItem:hover > .projectTitle {
  opacity: 0;
}

.projectDescription,
.projectLinks {
  color: #fff;
  font-size: 1.1em;
  opacity: 0;
  margin: auto;
  padding: 20px;
  transition: opacity 1s linear;
}

.projectItem:hover > .projectDescription,
.projectItem:hover > .projectLinks {
  opacity: 1;
}

.projectLinks > div {
  text-decoration: none;
  padding: 5px 0;
}

.ProjectIcon {
  width: 35px;
  display: inline-block;
  margin: 10px;
}

.seeMoreProjects {
  color: #fff;
  background: #ff5500;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  margin: 15px 0;
  cursor: pointer;
}