/* ------------------------- NAVIGATION */

.projectNav div {
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  transition: color .5s linear;
}

@media screen and (min-width: 620px) {
  .projectNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1170px) {
  .projectNav {
    width: 60%;
  }
}

.projectNav div:hover {
  color: #ff5500;
}

.projectNav div {
  font-family: 'Bungee', sans-serif;
}

.activeNavItem {
  background: #ff5500;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
}

.projectNav .activeNavItem:hover {
  color: #000000;
}

/* ------------------------- LIST */

.projectList {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
}

/* PROJECT ITEM */

.projectItem {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;  
  margin-top: 15px;
  width: 100%;
  border-radius: 15px;
  border: 3px solid #ff5500;
  transition: background 1s linear;
}



@media screen and (min-width:620px) {
  .projectItem {
    min-height: 320px;
    float: left;
    width: 48%;
    margin: 1%;
  }

  .projectItem:hover {
    background: #707070;
  }
}

@media screen and (min-width: 1170px) {
  .projectItem {
    width: 380px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* PROJECT INFO */

.projectTitle {
  font-family: 'Bungee', sans-serif;
  color: #ff5500;
  font-size: 25px;
  margin: 25px auto;
  width: 80%;
  line-height: 30px;
}

.projectDescription {
  margin: 0 10%;
  text-align: justify;
}


@media screen and (min-width: 620px) {
  .projectTitle {
    /* font-family: 'Bungee', sans-serif;
    color: #ff5500; */
    position: absolute;
    /* font-size: 25px; */
    /* width: 80%; */
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 1s linear;

    margin-top: 0;
  }

  .projectItem:hover > .projectTitle,
  .projectItem:active > .projectTitle {
    opacity: 0;
  }

  .projectDescription {
    /* text-align: justify; */
    line-height: 1.5em;
    color: #fff;
    font-size: .9em;
    /* opacity: 0; */
    margin: auto;
    padding: 20px;
    transition: opacity 1s linear;
  }
}

.projectItem:hover > .projectDescription,
.projectItem:hover > .projectLinks,
.projectItem:active > .projectDescription,
.projectItem:active > .projectLinks {
  opacity: 1;
}

/* PROJECT LINKS */

.projectLinks {
  height: 25%;
}

.projectLinks div {
  /* margin-top: 10px; */
  margin: 10px 0;
}

.projectLinks div a {
  transition: color .5s linear;
  color: #ff5500;
  font-weight: bold;
  font-size: 1em;
}

.projectLinks div:hover a {
  color: #000000;
}

.ProjectIcon {
  width: 35px;
  display: inline-block;
  margin: 10px;
}