/* ------------------------- NAVIGATION */

.projectNav div {
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  transition: color .5s linear;
}

@media screen and (min-width: 620px) {
  .projectNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1160px) {
  .projectNav {
    width: 60%;
  }
}

.projectNav div:hover {
  color: #ff5500;
}

.projectNav div {
  font-family: 'Bungee', sans-serif;
}

.activeNavItem {
  background: #ff5500;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
}

.projectNav .activeNavItem:hover {
  color: #000000;
}

/* ------------------------- LIST */

.projectList {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projectItem {
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  min-height: 300px;
  border-radius: 15px;
  border: 1px solid #ff5500;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:620px) {
  .projectItem {
    width: 48%;
  }
}

@media screen and (min-width: 1160px) {
  .projectItem {
    width: 30%;
  }
}

.projectItem {
  transition: background 1s linear;
  min-height: 300px;
  background: #fff;
}

.projectItem:hover {
  background: #707070;
}

.projectTitle {
  font-family: 'Bungee', sans-serif;
  color: #ff5500;
  position: absolute;
  font-size: 25px;
  width: 80%;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  transition: opacity 1s linear;
}

.projectItem:hover > .projectTitle,
.projectItem:active > .projectTitle {
  opacity: 0;
}

.projectDescription {
  text-align: justify;
  line-height: 1.5em;
  color: #fff;
  font-size: .9em;
  opacity: 0;
  margin: auto;
  padding: 20px;
  transition: opacity 1s linear;
}

.projectItem:hover > .projectDescription,
.projectItem:hover > .projectLinks,
.projectItem:active > .projectDescription,
.projectItem:active > .projectLinks {
  opacity: 1;
}

/* PROJECT LINKS */

.projectLinks {
  height: 25%;
}

.projectLinks div {
  margin-top: 10px;
}

.projectLinks div a {
  transition: color .5s linear;
  color: #ff5500;
  font-weight: bold;
  font-size: 1em;
}

.projectLinks div:hover a {
  color: #ff5500;
}

.ProjectIcon {
  width: 35px;
  display: inline-block;
  margin: 10px;
}